body {
    background-color: pink;
}
.card {
    width: 1250px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: purple;
    border-radius: 30px;
    margin: 50px 50px 50px 50px;
}
.card__head {
  width: 600px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.card__head-happy {
    font-size: 120px;
    font-weight: 800;
    color: pink;  
    margin-bottom: 30px;
}
.card__celebrate {
  color: pink;
  font-size: 40px;
  font-weight: 800;
}
.img-card {
  width: 520px;
  height: 750px;
  display: flex;
  justify-content: center;
}
.img-card__img {
    width: 500px;
    height: 550px;
    border-radius: 30px;
    animation-duration: 3s;
    animation-name: slidein;
}
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .card__btn {
    width: 600px;
    height: 75px;
    margin-top: 50px;
    display: flex;
    align-content: space-between;
  }
  .btn {
    width: 240px;
    height: 75px;
    background-color: blueviolet;
    color: pink;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
  }
  .btn:hover {
    width: 260px;
    height: 85px;
    background-color: blue;
    transition: all 1s ease-in;
  }
  .btn-yay {
    margin-right: 30px;
  }
